{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Dashboard" class="brand-link">
        <img src="{% static 'dist/img/user2-160x160.jpg' %}" alt="{{ request.session.UserName }}"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">TaxBuddy Umair </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2"
                     alt="{{ request.session.UserName }}">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.session.UserName }}</a>
            </div>
        </div>

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>
                            Blogs
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'AddBlog' %}" class="nav-link"> Create Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="/ManageBlogs" class="nav-link"> Manage Blog</a>
                        </li>

                    </ul>

                </li>


                  <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>
                            Tax Slab
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/add_salary_tax_brackets" class="nav-link"> Salary</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> Business</a>
                        </li>

                    </ul>

                </li>

                  <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>
                            Quizz
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/questions/" class="nav-link"> Question List</a>
                        </li>
                        <li class="nav-item">
                            <a href="/questions/add/" class="nav-link"> Add Question</a>
                        </li>

                    </ul>

                </li>


            </nav>
            <!-- /.sidebar-menu -->
        </ul>
    </div>

    <!-- /.sidebar -->
</aside>