{% load static %}
    <div class="contct6 sp2" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-all-hadding">
                        <div class="hadding6">
                            <h2 class="font-f-7" data-aos="fade-right" data-aos-duration="700"> Do you need help with
                                your taxes?</h2>
                        </div>
                        <div class="space20"></div>
                        <div class="contact6-list" data-aos="fade-right" data-aos-duration="900">
                            <ul>
                                <li class="font-f-7"><span><i class="fa-solid fa-check"></i></span>We offer a wide
                                    variety of services throughout the year.
                                </li>
                                <li class="font-f-7"><span><i class="fa-solid fa-check"></i></span>All the services you
                                    need in one place.
                                </li>
                                <li class="font-f-7"><span><i class="fa-solid fa-check"></i></span>We know how to
                                    identify what is most important.
                                </li>
                                <li class="font-f-7"><span><i class="fa-solid fa-check"></i></span>The maximum possible
                                    deduction.
                                </li>
                                <li class="font-f-7"><span><i class="fa-solid fa-check"></i></span>Accurately
                                    calculated.
                                </li>
                                <li class="font-f-7"><span><i class="fa-solid fa-check"></i></span>Experience with tax
                                    declaration.
                                </li>

                            </ul>
                        </div>
                        <div class="space30"></div>
                        <div class="hadding6" data-aos="fade-right" data-aos-duration="1100">
                            <h2 class="font-f-7">Contact us directly:</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="700">
                            <div class="contact6-icon-box">
                                <div class="contact6-icon">
                                    <img src="{% static 'assets/img/icons/contact6-icon1.png' %}" alt="">
                                </div>
                                <div class="contact6-hadding hadding6">
                                    <h4><a href="#" class="font-f-7">Visit us</a></h4>
                                    <a href="#">Gulshan-e-Iqbal, Karachi</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
                            <div class="contact6-icon-box">
                                <div class="contact6-icon">
                                    <img src="{% static 'assets/img/icons/contact6-icon2.png' %}" alt="">
                                </div>
                                <div class="contact6-hadding hadding6">
                                    <h4><a href="#" class="font-f-7">Call Us</a></h4>
                                    <a href="tel:333-2482742">+92333-2482742</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="700">
                            <div class="contact6-icon-box">
                                <div class="contact6-icon">
                                    <img src="{% static 'assets/img/icons/contact6-icon3.png' %}" alt="">
                                </div>
                                <div class="contact6-hadding hadding6">
                                    <h4><a href="#" class="font-f-7">Email Us</a></h4>
                                    <a href="malto:umair.mubeenir@gmail.com">umair.mubeenir@gmail.com</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="900">
                            <div class="contact6-icon-box">
                                <div class="contact6-icon">
                                    <img src="{% static 'assets/img/icons/contact6-icon4.png' %}" alt="">
                                </div>
                                <div class="contact6-hadding hadding6">
                                    <h4><a href="#" class="font-f-7">WhatsApp</a></h4>
                                    <a href="tel:333-2482742">+92333-2482742</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="contact3-form-all" data-aos="zoom-out" data-aos-duration="900">
                        <div class="hadding6 text-center">
                            <h1 class="font-30 font-f-7 font-lg-40 weight-500  line-height-lg-48 line-height-38">Contact
                                Us</h1>
                            <div class="space10"></div>
                            <p>Schedule your appointment with us.</p>
                        </div>
                        <form action="contact" method="POST">
                            {% csrf_token %}

                            <div class="form-input-all">
                                <div class="form-input-box">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-single6">
                                                <div class="">
                                                    <label>First Name</label>
                                                    <input type="text" placeholder="First Name" name="first_name" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-single6">
                                                <div class="">
                                                    <label>Last Name</label>
                                                    <input type="text" placeholder="Last Name" name="last_name" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-input-box">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-single6">
                                                <div class="">
                                                    <label>Phone Number</label>
                                                    <input type="number" placeholder="Phone" name="phone_number" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-single6">
                                                <div class="">
                                                    <label>Email Address</label>
                                                    <input type="email" placeholder="Email Address" name="email_address" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-input-box">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-single6">
                                                <div class="">
                                                    <label>Subject</label>
                                                    <input type="text" placeholder="Subject" name="subject" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="contact6-from-input">
                                    <label>Massage</label>
                                    <textarea cols="30" rows="3" placeholder="Additional Details" name="additional_details" required></textarea>
                                </div>
                                <div class="space20"></div>
                                <div class="button6">
                                    <button>Schedule your appointment <span><i
                                            class="fa-solid fa-arrow-right"></i></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
<div id="toast" class="toast"></div>

<style>
.toast {
  visibility: hidden;
  min-width: 200px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 12px 16px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  opacity: 0;
  font-weight: 600;
  transition: opacity 0.5s ease-in-out;
  font-size: 0.9rem;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}
.toast.success {
  background-color: #4BB543; /* green */
}
.toast.error {
  background-color: #e74c3c; /* red */
}
</style>

<script>
function showToast(message, type='success') {
  const toast = document.getElementById('toast');
  toast.textContent = message;
  toast.className = 'toast show ' + type;

  setTimeout(() => {
    toast.className = 'toast';
  }, 3000);
}

document.addEventListener("DOMContentLoaded", () => {
  {% if messages %}
    {% for message in messages %}
      showToast("{{ message|escapejs }}", "{{ message.tags }}");
    {% endfor %}
  {% endif %}
});
</script>