<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="TaxBuddy Umair – Expert Tax Consulting for Individuals and Businesses in Pakistan"
          name="description">
    <meta content="TaxBuddy, FBR, Income Tax, Sales Tax, Pakistan, Property Tax" name="keywords">
    <meta content="Umair Mubeen" name="author">
    <title>TaxBuddy Umair</title>
    {% load static %}
    {% include 'partials/head-css.html' %}
    <style> p{text-align: justify;}</style>
<body>

<!--=====Navigation Bar=======-->
{% include 'partials/topbar.html' %}
<!--=====Navigation Bar Ends Here=======-->

<!--=====Welcome start=======-->
<div class="home6-full-header bg-cover" style="background-image: url({% static 'assets/img/bg/hero6-bg.png' %});">
    <div class="welcome-4 home4-bg position-relative" id="home">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="titel6-main">
                        <h1 class="font-f-3" data-aos="fade-right" data-aos-duration="800">From Tax Preparation to <span
                                class="after6">Business Services.</span>
                        </h1>
                        <div class="space10"></div>

                        <p class="font-f-7" data-aos="fade-right" data-aos-duration="1100">
                            TaxBuddy Umair works with <span class="highlight">businesses of all sizes</span> to get the
                            <span class="highlight emphasis">most deductions possible</span> on their tax returns.</p>
                        <div class="space30"></div>

                        <div class="home6-header-buttons" data-aos="fade-right" data-aos-duration="1500">
                            <div class="button6">
                                <a href="#contact">Schedule your appointment<span><i
                                        class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                            <div class="header6-button">
                                <a href="#">Schedule A Call<span><i class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-6 img-responsive mb-10">
                    <div class="home6-header-images">
                        <!--                        <div class="home6-header-img1 aniamtion-key-5">-->
                        <!--                            <img alt="header6-shape" src="{% static 'assets/img/shapes/header6-main-shpe.svg' %}">-->
                        <!--                        </div>-->
                        <div class="home6-header-img2" data-aos="zoom-out" data-aos-duration="800">
                            <!--                            <img alt="header-image" class="img-responsive"-->
                            <!--                                 src="{% static 'assets/img/image/home6-main-header.png' %}">-->
                        </div>
                        <!--                        <div class="home6-header-img3 aniamtion-key-1" data-aos="zoom-out" data-aos-duration="1200">-->
                        <!--                            <img alt="header6-shape1" src="{% static 'assets/img/shapes/header6-shape1.svg' %}">-->
                        <!--                        </div>-->
                        <!--                        <div class="home6-header-img4 aniamtion-key-1" data-aos="zoom-out" data-aos-duration="1200">-->
                        <!--                            <img alt="header6-shape2" src="{% static 'assets/img/shapes/header6-shape2.svg' %}">-->
                        <!--                        </div>-->
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!--=====Welcome end=======-->


<!--=====brand start=======-->
<div class="brand-area6">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="brand6-box" data-aos="zoom-out" data-aos-duration="1600">
                    <div class="">
                        <div class="brand-img">
                            <img alt="brand6-1" src="{% static 'assets/img/icons/brand6-1.png' %}">
                        </div>
                    </div>
                    <div class="">
                        <div class="brand-hadding">
                            <h4 class="font-f-7">Claim what’s yours.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="brand6-box" data-aos="zoom-out" data-aos-duration="900">
                    <div class="">
                        <div class="brand-img">
                            <img alt="brand6-2" src="{% static 'assets/img/icons/brand6-2.png' %}">
                        </div>
                    </div>
                    <div class="">
                        <div class="brand-hadding">
                            <h4 class="font-f-7">Maximize Your Refund.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="brand6-box" data-aos="zoom-out" data-aos-duration="1100">
                    <div class="">
                        <div class="brand-img">
                            <img alt="brand6-3" src="{% static 'assets/img/icons/brand6-3.png' %} ">
                        </div>
                    </div>
                    <div class="">
                        <div class="brand-hadding">
                            <h4 class="font-f-7">Smart Filing Starts Here.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="brand6-box" data-aos="zoom-out" data-aos-duration="900">
                    <div class="">
                        <div class="brand-img">
                            <img alt="brand6-4" src="{% static 'assets/img/icons/brand6-4.png' %} ">
                        </div>
                    </div>
                    <div class="">
                        <div class="brand-hadding">
                            <h4 class="font-f-7">Guide to Max Deduction.</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--=====brand end=======-->
<div class="scrollspy-example" data-bs-offset="0" data-bs-spy="scroll" data-bs-target="#list-example" tabindex="0">
    <!--=====about start=======-->
    <div class="about6 sp2" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about6-images">
                        <div class="about6-img1" data-aos="zoom-out" data-aos-duration="1100">
                            <img alt="about6-img" src="{% static 'assets/img/image/about6-img.png' %}">
                        </div>
                        <div class="about6-img2" data-aos="flip-right" data-aos-duration="900">
                            <!--                            <img src="{% static 'assets/img/image/about6-img1.png' %}" alt="about6-img">-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class=" experience-hadding">
                        <div class="hadding6">
                            <h1 class="font-f-7" data-aos="fade-left" data-aos-duration="900">Prepare your Taxes with
                                Trust.</h1>
                            <div class="space20"></div>
                            <h4><a class="font-f-7" data-aos="fade-left" data-aos-duration="1000" href="">Years of
                                experience</a></h4>
                            <p class="font-f-7" data-aos="fade-left" data-aos-duration="800">With years of experience,
                                TaxBuddy Umair helps individuals and businesses navigate tax complexities with
                                confidence. We specialize in the Income Tax Ordinance, 2001 and Sales Tax Act, 1990,
                                ensuring accurate and timely compliance.</p>


                            <div class="space10"></div>
                            <h4><a class="font-f-7" data-aos="fade-left" data-aos-duration="1100" href="">Taxes on
                                Immovable Property</a></h4>
                            <p class="font-f-7" data-aos="fade-left" data-aos-duration="900">In Pakistan, taxes on
                                property include CGT, Stamp Duty, and Withholding Tax. Sales Tax and Withholding Tax
                                apply to transactions. CGT rates depend on holding periods.</p>

                            <div class="space10"></div>
                            <h4><a class="font-f-7" data-aos="fade-left" data-aos-duration="1100" href="">Salaried
                                Individuals and Business Individuals</a></h4>
                            <p class="font-f-7" data-aos="fade-left" data-aos-duration="900">In Pakistan, salary income
                                is taxed progressively, with deductions and credits available. Business income is taxed
                                at a flat rate for companies, while sole proprietors and partnerships follow individual
                                income tax slabs. Both are subject to Withholding Tax and Sales Tax on certain
                                transactions. </p>
                        </div>
                        <div class="space40"></div>
                        <div class="button6" data-aos="fade-left" data-aos-duration="1000">
                            <a href="">Schedule your appointment <span><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--=====about end=======-->

    <!--=====how it work start=======-->
    <div class="works-6 sp2" id="work">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <div class="hadding6-w">
                        <h1 class="font-f-7" data-aos="fade-up" data-aos-duration="900">TaxBuddy Umair services
                            specializes
                            <span class="after6">in Tax Preparation.</span></h1>
                        <div class="space10"></div>
                        <p class="font-f-7" data-aos="fade-up" data-aos-duration="1100">Prepare your taxes in 3 simple
                            steps!</p>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="work6-box" data-aos="fade-up" data-aos-duration="1200">
                        <div class="work6-icon">
                            <img alt="work6-icon1" src="{% static 'assets/img/icons/work6-icon1.png' %}">
                        </div>
                        <div class="work6-hadding">
                            <h4 class="font-f-7"><a href="#">Schedule your Appointment</a></h4>
                            <p class="font-f-7">Book a date with us, and we'll handle the rest—your taxes are in expert
                                hands.</p>
                        </div>

                        <div class="work6-shape">
                            <img alt="work5-shape1" src="{% static 'assets/img/shapes/work5-shape1.png' %}">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="work6-box" data-aos="fade-up" data-aos-duration="900">
                        <div class="work6-icon">
                            <img alt="work6-icon2" src="{% static 'assets/img/icons/work6-icon2.png' %}">
                        </div>
                        <div class="work6-hadding">
                            <h4 class="font-f-7"><a href="#">File your return</a></h4>
                            <p class="font-f-7">We prepare and review your tax return so you can file accurately and on
                                time.</p>
                        </div>

                        <div class="work6-shape">
                            <img alt="work5-shape2" src="{% static 'assets/img/shapes/work5-shape2.png' %}">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="work6-box" data-aos="fade-up" data-aos-duration="700">
                        <div class="work6-icon">
                            <img alt="work5-shape3" src="{% static 'assets/img/icons/work6-icon3.png' %}">
                        </div>
                        <div class="work6-hadding">
                            <h4 class="font-f-7"><a href="">Enjoy your refund</a></h4>
                            <p class="font-f-7">Sit back and relax while we ensure your refund is processed without
                                delays.</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--=====how it work end=======-->

    <!--=====resive start=======-->
    <div class="resive6 sp2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="hadding6 tesive6-hadding">
                        <h1 class="font-f-3" data-aos="fade-right" data-aos-duration="700">Get the Compensation Your
                            <span class="after6">Hard Work Deserves.</span></h1>
                        <div class="space10"></div>
                        <p class="font-f-7" data-aos="fade-right" data-aos-duration="900">Experienced, knowledgeable
                            professionals in Property Tax Consulting. Our team of Property Tax Consultants is committed
                            to saving you money by obtaining the lowest possible assessed value for your commercial or
                            residential properties.</p>
                        <div class="space30"></div>
                        <div class="button6" data-aos="fade-right" data-aos-duration="700">
                            <a href="#contact">Schedule your appointment <span><i
                                    class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </div>
                        <!--                        <div class="resive-button" data-aos="fade-right" data-aos-duration="800">-->
                        <!--                            <a class="font-f-7" href="">More information about Tax Services <span><i-->
                        <!--                                    class="fa-solid fa-arrow-right"></i></span></a>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about6-images">
                        <div class="about6-img1" data-aos="zoom-out" data-aos-duration="1100">
                            <img alt="resive-img" src="{% static 'assets/img/image/resive-img.png' %}">
                        </div>
                        <div class="about6-img2" data-aos="flip-right" data-aos-duration="900">
                            <!--                            <img src="{% static 'assets/img/image/about6-img1.png' %}" alt="">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====resive end=======-->

    <!--=====service start=======-->
    <div class="service6 sp2" id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 m-auto text-center">
                    <div class="hadding6" data-aos="fade-up" data-aos-duration="700">
                        <h1 class="font-f-7">TaxBuddy Umair offers multiple services <span class="after6">throughout the year.</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
            <div class="row">
                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="700">
                    <div class="service6-box">
                        <div class="">
                            <div class="service-box-icon">
                                <!--                                <img alt="service6-icon1" src="{% static 'assets/img/icons/service6-icon1.png' %}">-->
                            </div>
                        </div>
                        <div class="hadding6">
                            <h4><a class="font-f-7" href="single-service-">NTN Registration</a></h4>
                            <p class="font-f-7">TaxBuddy Umair provides hassle-free services for NTN Registration and
                                Income Tax Return Filing — whether you're a Salaried Individual, Business Owner, or part
                                of an AOP.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="700">
                    <div class="service6-box">
                        <div class="">
                            <div class="service-box-icon">
                                <!--                                <img alt="service6-icon1" src="{% static 'assets/img/icons/service6-icon1.png' %}">-->
                            </div>
                        </div>
                        <div class="hadding6">
                            <h4><a class="font-f-7" href="single-service-">Sales Tax Registration</a></h4>
                            <p class="font-f-7">TaxBuddy Umair offers seamless Sales Tax Registration services — for
                                Businesses, AOPs, Dealers, Distributors, Wholesalers, Importers and Exporters looking to
                                register.</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800">
                    <div class="service6-box">
                        <div class="">
                            <div class="service-box-icon">
                                <!--                                <img alt="service6-icon1" src="{% static 'assets/img/icons/service6-icon2.png' %}">-->
                            </div>
                        </div>
                        <div class="hadding6">
                            <h4><a class="font-f-7" href="single-service-">Income Tax Filing</a></h4>
                            <p class="font-f-7">TaxBuddy Umair offers expert services for Income Tax Return Filing —
                                whether you're a Salaried Individual, Business Owner, or AOP.Ensure accurate filing,
                                claim your refunds, and stay compliant with FBR through guided support on the IRIS
                                portal.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1200">
                    <div class="service6-box">
                        <div class="">
                            <div class="service-box-icon">
                                <!--                                <img alt="service6-icon1" src="{% static 'assets/img/icons/service6-icon3.png' %}">-->
                            </div>
                        </div>
                        <div class="hadding6">
                            <h4><a class="font-f-7" href="single-service-">Sales Tax Return</a></h4>
                            <p class="font-f-7">TaxBuddy Umair provides professional services for Sales Tax Return
                                Filing — whether you're a Businesses, AOPs, Dealers, Distributors, Wholesalers,
                                Importers and Exporters registered under Sales
                                Tax Act, 1990. </p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="700">
                    <div class="service6-box">
                        <div class="">
                            <div class="service-box-icon">
                                <!--                                <img alt="service6-icon1" src="{% static 'assets/img/icons/service6-icon5.png' %}">-->
                            </div>
                        </div>
                        <div class="hadding6">
                            <h4><a class="font-f-7" href="single-service-">PayRoll Services</a></h4>
                            <p class="font-f-7">Managing payroll may not seem like a critical task untill something goes
                                wrong. We have experts and technology to help you.</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1200">
                    <div class="service6-box">
                        <div class="">
                            <div class="service-box-icon">
                                <!--                                <img alt="service6-icon1" src="{% static 'assets/img/icons/service6-icon6.png' %}">-->
                            </div>
                        </div>
                        <div class="hadding6">
                            <h4><a class="font-f-7" href="single-service-">Tax Calculator</a></h4>
                            <p class="font-f-7">Quickly estimate your Income, Salary, Business, Property, Capital Gains,
                                and CVT taxes using our all-in-one calculator—updated with the latest rules to help you
                                plan.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--=====service end=======-->

    <!--=====experience satart=======-->
    <div class="experience6 sp2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about6-images">
                        <div class="about6-img1" data-aos="zoom-out" data-aos-duration="1100">
                            <img alt="experience-img" src="{% static 'assets/img/image/experience-img.png' %}">
                        </div>
                        <div class="about6-img2" data-aos="flip-right" data-aos-duration="900">
                            <!--                            <img src="{% static 'assets/img/image/about6-img1.png' %}" alt="">-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class=" experience-hadding">
                        <div class="hadding6">
                            <h1 class="font-f-7" data-aos="fade-left" data-aos-duration="900">TaxBuddy Umair has a
                                decade of experience helping the community.</h1>
                            <div class="space20"></div>
                            <h4><a class="font-f-7" data-aos="fade-left" data-aos-duration="1000" href="">Years of
                                experience</a></h4>
                            <p class="font-f-7" data-aos="fade-left" data-aos-duration="800" style="text-align:justify">
                                Community building is a field of practices directed toward the creation or enhancement
                                of community among individuals.
                            </p>

                            <div class="space10"></div>

                            <h4><a class="font-f-7" data-aos="fade-left" data-aos-duration="900" href="">Trusted by
                                Business</a></h4>
                            <p class="font-f-7" data-aos="fade-left" data-aos-duration="1100">Many of the taxapyers
                                trust TaxBuddy Umair to help their businesses.</p>

                            <div class="space10"></div>
                            <h4><a class="font-f-7" data-aos="fade-left" data-aos-duration="1100" href="">Satisfied
                                customers</a></h4>
                            <p class="font-f-7" data-aos="fade-left" data-aos-duration="900">Our clients are highly
                                satisfied with our services</p>
                        </div>
                        <div class="space40"></div>
                        <div class="button6" data-aos="fade-left" data-aos-duration="1000">
                            <a href="#contact">Schedule your appointment <span><i
                                    class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====experience end=======-->

    <!--=====blog start=======-->

    <div class="blog-area inner-blog-1 section-padding inner-font-1">
        <div class="container">

            <div class="row" id="masonry-grid">

                {% for res in result %}

                <div class="col-md-6 col-lg-4 mesonry-item design marketing stories lifestyle">
                    <div class="single-blog blog-sm">
                        <div class="blog-img">
                            <a href="/BlogDetails/{{res.slug}}"><img alt="{{res.title}}" src="{{res.image.url}}">
                            </a>
                        </div>
                        <ul class="blog-tags">
                            <li><a href="#">{{res.type}}</a></li>
                        </ul>
                        <h3>
                            <a href="/BlogDetails/{{res.slug}}" style="font-size:20px">{{res.title}}</a>
                        </h3>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </div>

<!--    <div class="blog10 sp2" id="blog">-->
<!--        <div class="container">-->
<!--            <div class="row align-items-center">-->
<!--                <div class="col-lg-6">-->
<!--                    <div class="headding10">-->
<!--                        <span class="span" data-aos="fade-up" data-aos-duration="700"><img-->
<!--                                alt="service6-icon1" src="{% static 'assets/img/icons/headding10-span-icon.png' %}"> Blog</span>-->
<!--                        <h2 data-aos="fade-up" data-aos-duration="1000">IRS Matters: Our Blog for Legal Tips and-->
<!--                            Guidance</h2>-->

<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-6">-->
<!--                    <div class="blog10-arrows" data-aos="fade-up" data-aos-duration="800">-->
<!--                        <div class="blog10-next-arrow">-->
<!--                            <button><i class="fa-solid fa-arrow-left"></i></button>-->
<!--                        </div>-->
<!--                        <div class="blog10-prev-arrow">-->
<!--                            <button><i class="fa-solid fa-arrow-right"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="space60"></div>-->


<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="blog10-slider-all" data-aos="fade-up" data-aos-duration="900">-->
<!--                        {% for res in result %}-->

<!--                        <div class="blog10-single-slider single-blog blog-md">-->
<!--                            &lt;!&ndash;                            <div class="blog-img">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <a href="/BlogDetails/{{res.slug}}"><img alt="{{res.title}}" src="media/{{res.image}}"></a>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                            <div class="headding10">-->
<!--                                <h6><a href="/BlogDetails/{{res.slug}}" style="color:black">{{res.title}}</a></h6>-->
<!--                                <a class="learn" href="/BlogDetails/{{res.slug}}" style="color:black">Learn More <span>-->
<!--                                    <i class="fa-solid fa-arrow-right"></i></span></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% endfor %}-->


<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="space40"></div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12 text-center">-->
<!--                    <div class="" data-aos="fade-up" data-aos-duration="800">-->
<!--                        <a class="new-btn7" href="#"><span><img-->
<!--                                alt="image"-->
<!--                                src="{% static 'assets/img/icons/new-btn7-icon.svg' %}"></span> Explore Full Blog</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


</div>


<!--=====contact start=======-->
{% include 'contact.html' %}
<!--=====contact end=======-->


{% include 'partials/footer.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}


</body>
</html>
