<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="TaxBuddy Umair – Expert Tax Consulting for Individuals and Businesses in Pakistan"
          name="description">
    <meta content="TaxBuddy, FBR, Income Tax, Sales Tax, Pakistan, Property Tax" name="keywords">
    <meta content="Umair Mubeen" name="author">
    <title>TaxBuddy Umair</title>
    {% load static %}
    {% include 'partials/head-css.html' %}
    <style> p{text-align: justify;}</style>
<body>

<!--=====Navigation Bar=======-->
{% include 'partials/topbar.html' %}
<!--=====Navigation Bar Ends Here=======-->

<!--=====Welcome start=======-->
<div class="home6-full-header bg-cover" style="background-image: url({% static 'assets/img/bg/hero6-bg.png' %});">
    <div class="welcome-4 home4-bg position-relative">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="titel6-main col-lg-12">
                        <h1 class="font-f-3" data-aos="fade-right" data-aos-duration="800">Trusted tax experts helping
                            individuals <span
                                    class="after6">and businesses save more.</span>
                        </h1>
                        <div class="space10"></div>
                        <p class="font-f-7" data-aos="fade-right" data-aos-duration="1100">
                            TaxBuddy Umair works with <span class="highlight">businesses of all sizes</span> to get the
                            <span class="highlight emphasis">most deductions possible</span> on their tax returns.</p>
                        <div class="space30"></div>

                        <div class="home6-header-buttons" data-aos="fade-right" data-aos-duration="1500">
                            <div class="button6">
                                <a href="#contact">Schedule your appointment<span><i
                                        class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                            <div class="header6-button">
                                <a href="#">Schedule A Call<span><i class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-12 col-md-6 mb-10">
                    <div class="home6-header-images">
                        <div class="home6-header-img2" data-aos="zoom-out" data-aos-duration="800"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!--=====Welcome end=======-->


<!--=====brand start=======-->
<div class="brand-area6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="brand6-box" data-aos="zoom-out" data-aos-duration="1600">
                    <div class="">
                        <div class="brand-img">
                            <img alt="brand6-1" src="{% static 'assets/img/icons/brand6-1.png' %}">
                        </div>
                    </div>
                    <div class="">
                        <div class="brand-hadding">
                            <h4 class="font-f-7">Claim what’s yours.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="brand6-box" data-aos="zoom-out" data-aos-duration="900">
                    <div class="">
                        <div class="brand-img">
                            <img alt="brand6-2" src="{% static 'assets/img/icons/brand6-2.png' %}">
                        </div>
                    </div>
                    <div class="">
                        <div class="brand-hadding">
                            <h4 class="font-f-7">Maximize Your Refund.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="brand6-box" data-aos="zoom-out" data-aos-duration="1100">
                    <div class="">
                        <div class="brand-img">
                            <img alt="brand6-3" src="{% static 'assets/img/icons/brand6-3.png' %} ">
                        </div>
                    </div>
                    <div class="">
                        <div class="brand-hadding">
                            <h4 class="font-f-7">Smart Filing Starts Here.</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="brand6-box" data-aos="zoom-out" data-aos-duration="900">
                    <div class="">
                        <div class="brand-img">
                            <img alt="brand6-4" src="{% static 'assets/img/icons/brand6-4.png' %} ">
                        </div>
                    </div>
                    <div class="">
                        <div class="brand-hadding">
                            <h4 class="font-f-7">Guide to Max Deduction.</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--=====brand end=======-->

<div class="scrollspy-example" data-bs-offset="0" data-bs-spy="scroll" data-bs-target="#list-example" tabindex="0">
    <!--=====about start=======-->
    <div class="about6 sp2" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3">
                    <div class="about6-images">
                        <div class="about6-img1" data-aos="zoom-out" data-aos-duration="1100">
                            <img alt="about6-img" src="{% static 'assets/img/image/about6-img.png' %}">
                        </div>
                        <div class="about6-img2" data-aos="flip-right" data-aos-duration="900">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class=" experience-hadding">
                        <div class="hadding6">
                            <h1 class="font-f-7" data-aos="fade-left" data-aos-duration="900">Prepare your Taxes with
                                Trust.</h1>
                            <div class="space20"></div>
                            <h4><a class="font-f-7" data-aos="fade-left" data-aos-duration="1000" href="">Years of
                                experience</a></h4>
                            <p class="font-f-7" data-aos="fade-left" data-aos-duration="800">With years of experience,
                                TaxBuddy Umair helps individuals and businesses navigate tax complexities with
                                confidence. We specialize in the Income Tax Ordinance, 2001 and Sales Tax Act, 1990,
                                ensuring accurate and timely compliance.</p>


                            <div class="space10"></div>
                            <h4><a class="font-f-7" data-aos="fade-left" data-aos-duration="1100" href="">Taxes on
                                Immovable Property</a></h4>
                            <p class="font-f-7" data-aos="fade-left" data-aos-duration="900">In Pakistan, taxes on
                                property include CGT, Stamp Duty, and Withholding Tax. Sales Tax and Withholding Tax
                                apply to transactions. CGT rates depend on holding periods.</p>

                            <div class="space10"></div>
                            <h4><a class="font-f-7" data-aos="fade-left" data-aos-duration="1100" href="">Salaried
                                Individuals and Business Individuals</a></h4>
                            <p class="font-f-7" data-aos="fade-left" data-aos-duration="900">In Pakistan, salary income
                                is taxed progressively, with deductions and credits available. Business income is taxed
                                at a flat rate for companies, while sole proprietors and partnerships follow individual
                                income tax slabs. Both are subject to Withholding Tax and Sales Tax on certain
                                transactions. </p>
                        </div>
                        <div class="space40"></div>
                        <div class="button6" data-aos="fade-left" data-aos-duration="1000">
                            <a href="">Schedule your appointment <span><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--=====about end=======-->

    <!--=====how it work start=======-->
    <div class="works-6 sp2" id="work">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 m-auto text-center">
                    <div class="hadding6-w">
                        <h1 class="font-f-7" data-aos="fade-up" data-aos-duration="900">TaxBuddy Umair services
                            specializes<span class="after6">in Tax Preparation.</span></h1>
                        <div class="space10"></div>
                        <p class="font-f-7" data-aos="fade-up" data-aos-duration="1100">Prepare your taxes in 3 simple
                            steps!</p>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="work6-box" data-aos="fade-up" data-aos-duration="1200">
                        <div class="work6-icon">
                            <img alt="work6-icon1" src="{% static 'assets/img/icons/work6-icon1.png' %}">
                        </div>
                        <div class="work6-hadding">
                            <h4 class="font-f-7"><a href="#">Schedule your Appointment</a></h4>
                            <p class="font-f-7">Book a date with us, and we'll handle the rest—your taxes are in expert
                                hands.</p>
                        </div>

                        <div class="work6-shape">
                            <img alt="work5-shape1" src="{% static 'assets/img/shapes/work5-shape1.png' %}">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="work6-box" data-aos="fade-up" data-aos-duration="900">
                        <div class="work6-icon">
                            <img alt="work6-icon2" src="{% static 'assets/img/icons/work6-icon2.png' %}">
                        </div>
                        <div class="work6-hadding">
                            <h4 class="font-f-7"><a href="#">File your return</a></h4>
                            <p class="font-f-7">We prepare and review your tax return, so you can file accurately and on
                                time.</p>
                        </div>

                        <div class="work6-shape">
                            <img alt="work5-shape2" src="{% static 'assets/img/shapes/work5-shape2.png' %}">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="work6-box" data-aos="fade-up" data-aos-duration="700">
                        <div class="work6-icon">
                            <img alt="work5-shape3" src="{% static 'assets/img/icons/work6-icon3.png' %}">
                        </div>
                        <div class="work6-hadding">
                            <h4 class="font-f-7"><a href="">Enjoy your refund</a></h4>
                            <p class="font-f-7">Sit back and relax while we ensure your refund is processed without
                                delays.</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--=====how it work end=======-->

    <!--=====service start=======-->
    <div class="home4-service section-padding" id="service">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="hadding5">
                        <span class="span font-f-5 font-18 line-height-18 weight-400" data-aos="fade-right"
                              data-aos-duration="700">Practise Areas</span>
                        <div class="space10"></div>
                        <h1 class="font-f-6 font-30 font-lg-42 weight-500 line-height-38 line-height-lg-48 color4"
                            data-aos="fade-right" data-aos-duration="900">TaxBuddy Umair offers a wide range of
                            services.</h1>
                        <div class="space10"></div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service4-btn mt-sm-50" data-aos="fade-left" data-aos-duration="900">
                        <a class="font-f-5 theme-btn-18" href="#">All Categories <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
            <div class="row">
                <div class="home4-slider-all owl-carousel" data-aos="fade-up" data-aos-duration="900">
                    <div class="home4-single-slider">
                        <div class="slider-img">
                            <img alt="" src="{% static 'assets/img/icons/service4-icon1.png' %}">
                        </div>
                        <div class="space40"></div>
                        <div class="hadding5">
                            <h6 class="font-f-5 font-20 line-height-24 weight-400 color4">NTN Registration</h6>
                        </div>
                    </div>

                    <div class="home4-single-slider">
                        <div class="slider-img">
                            <img alt="" src="{% static 'assets/img/icons/service4-icon2.png' %}">
                        </div>
                        <div class="space40"></div>
                        <div class="hadding5">
                            <h6 class="font-f-5 font-20 line-height-24 weight-400 color4">AOP Registration</h6>
                        </div>
                    </div>

                    <div class="home4-single-slider">
                        <div class="slider-img">
                            <img alt="" src="{% static 'assets/img/icons/service4-icon3.png' %}">
                        </div>
                        <div class="space40"></div>
                        <div class="hadding5">
                            <h6 class="font-f-5 font-20 line-height-24 weight-400 color4">PSEB Registration</h6>
                        </div>
                    </div>

                    <div class="home4-single-slider">
                        <div class="slider-img">
                            <img alt="" src="{% static 'assets/img/icons/service4-icon4.png' %}">
                        </div>
                        <div class="space40"></div>
                        <div class="hadding5">
                            <h6 class="font-f-5 font-20 line-height-24 weight-400 color4">Income Tax Services</h6>
                        </div>
                    </div>

                    <div class="home4-single-slider">
                        <div class="slider-img">
                            <img alt="" src="{% static 'assets/img/icons/service4-icon5.png' %}">
                        </div>
                        <div class="space40"></div>
                        <div class="hadding5">
                            <h6 class="font-f-5 font-20 line-height-24 weight-400 color4">Sales Tax Services</h6>
                        </div>
                    </div>

                    <div class="home4-single-slider">
                        <div class="slider-img">
                            <img alt="" src="{% static 'assets/img/icons/service4-icon6.png' %}">
                        </div>
                        <div class="space40"></div>
                        <div class="hadding5">
                            <h6 class="font-f-5 font-20 line-height-24 weight-400 color4">Tax Calculators</h6>
                        </div>
                    </div>

                    <div class="home4-single-slider">
                        <div class="slider-img">
                            <img alt="" src="{% static 'assets/img/icons/service4-icon1.png' %}">
                        </div>
                        <div class="space40"></div>
                        <div class="hadding5">
                            <h6 class="font-f-5 font-20 line-height-24 weight-400 color4">PayRoll Services</h6>
                        </div>
                    </div>

                    <div class="home4-single-slider">
                        <div class="slider-img">
                            <img alt="" src="{% static 'assets/img/icons/service4-icon2.png' %}">
                        </div>
                        <div class="space40"></div>
                        <div class="hadding5">
                            <h6 class="font-f-5 font-20 line-height-24 weight-400 color4">Freelancers Tax Filing</h6>
                        </div>
                    </div>

                    <div class="home4-single-slider">
                        <div class="slider-img">
                            <img alt="" src="{% static 'assets/img/icons/service4-icon2.png' %}">
                        </div>
                        <div class="space40"></div>
                        <div class="hadding5">
                            <h6 class="font-f-5 font-20 line-height-24 weight-400 color4">Withholding Tax</h6>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--=====service end=======-->

    <!--=====Why Choose TaxBuddy Umair start =======-->
    <div class="work9 sp2" id="whyus">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <div class="headding9">
                        <h2 data-aos="fade-up" data-aos-duration="800">Why Choose TaxBuddy Umair?</h2>
                    </div>
                </div>
            </div>

            <div class="space30"></div>
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="">
                        <div class="work9-box" data-aos="zoom-in-up" data-aos-duration="700">
                            <div class="headding9">
                                <h4><a href="#">Expert Guidance</a></h4>
                                <p>5+ Years of Trusted Experience in income tax, sales tax, and property tax
                                    consulting.</p>
                                <h5 class="number">01</h5>
                            </div>
                        </div>
                    </div>

                    <div class=>
                        <div class="work9-box" data-aos="zoom-in-up" data-aos-duration="900">
                            <div class="headding9">
                                <h4><a href="#">Hassle-Free Filing</a></h4>
                                <p>From NTN registration to annual returns, we handle it all—so you don’t have to
                                    worry.</p>
                                <h5 class="number">02</h5>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-lg-2 d-none d-lg-block">
                    <div class="work9-main-img text-center" data-aos="zoom-in-up" data-aos-duration="900">
                        <img alt="" src="{% static 'assets/img/icons/works9-icon.png' %}">
                    </div>
                </div>


                <div class="col-lg-5 col-md-6">


                    <div class="" data-aos="zoom-in-up" data-aos-duration="700">
                        <div class="work9-box">
                            <div class="headding9">
                                <h4><a href="#">Maximum Savings</a></h4>
                                <p>Save more each year with expert strategies that cut unnecessary tax costs.</p>
                                <h5 class="number">03</h5>
                            </div>
                        </div>
                    </div>


                    <div class="" data-aos="zoom-in-up" data-aos-duration="700">
                        <div class="work9-box">
                            <div class="headding9">
                                <h4><a href="#">Trusted by Professionals & Businesses</a></h4>
                                <p>Trusted by 200+ clients individuals, AOPs, and companies across Pakistan rely on us
                                    for accurate, compliant, and timely tax services.</p>
                                <h5 class="number">04</h5>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!--=====Why Choose TaxBuddy Umair end =======-->

    <!--=====testimonial start=======-->
    <div class="tes7 customers sp2" id="customer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <div class="hadding7">
                        <span class="span" data-aos="fade-up" data-aos-duration="800">Our Testimonials</span>
                        <div class="space20"></div>
                        <h2 data-aos="fade-up" data-aos-duration="900">Client <span class="after">Successful</span>
                            Story
                        </h2>
                    </div>
                </div>
            </div>

            <div class="space60"></div>
            <div class="row">
                <div class="tes7-slider-all owl-carousel" data-aos="fade-up" data-aos-duration="800">
                    <div class="tes7-single-slider">
                        <div class="icon">
                            <img alt="" src="{% static 'assets/img/icons/tes7-icon.svg' %}">
                        </div>
                        <div class="reting">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li class="reting-hadding">(5) Rating</li>
                            </ul>
                        </div>
                        <p class="pera">"I highly recommend following this page for authentic tax information. It has
                            helped me understand both income and sales tax better. An excellent source of knowledge in
                            the tax industry."
                        </p>
                        <div class="bottom-hadding">
                            <div class="image">
                                <img alt="" src="{% static 'assets/img/testimonial/tes7-img1.png' %}">
                            </div>
                            <div class="headding">
                                <h5><a href="#">Uzair Abdul Qadir</a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="tes7-single-slider">
                        <div class="icon">
                            <img alt="" src="{% static 'assets/img/icons/tes7-icon.svg' %}">
                        </div>
                        <div class="reting">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li class="reting-hadding">(5) Rating</li>
                            </ul>
                        </div>
                        <p class="pera">
                            "This page is one of the most informative resources on taxation in Pakistan. The content is
                            simple, clear, and practical. Kudos to the admin for consistently providing such useful
                            guidance."
                        </p>

                        <div class="bottom-hadding">
                            <div class="image">
                                <img alt="" src="{% static 'assets/img/testimonial/tes7-img2.png' %}">
                            </div>
                            <div class="headding">
                                <h5><a href="#">Hassaan Akber</a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="tes7-single-slider">
                        <div class="icon">
                            <img alt="" src="{% static 'assets/img/icons/tes7-icon.svg' %}">
                        </div>
                        <div class="reting">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li class="reting-hadding">(5) Rating</li>
                            </ul>
                        </div>
                        <p class="pera">
                            "TaxBuddy Umair simplifies complex tax matters in an easy-to-understand way. His updates
                            keep me informed about both Income Tax and Sales Tax rules. I now feel more confident in
                            managing compliance."
                        </p>
                        <div class="bottom-hadding">
                            <div class="image">
                                <img alt="" src="{% static 'assets/img/testimonial/tes7-img3.png' %}">
                            </div>
                            <div class="headding">
                                <h5><a href="#">Ovais Mubeen</a></h5>
                            </div>
                        </div>
                    </div>


                    <div class="tes7-single-slider">
                        <div class="icon">
                            <img alt="" src="{% static 'assets/img/icons/tes7-icon.svg' %}">
                        </div>
                        <div class="reting">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li class="reting-hadding">(5) Rating</li>
                            </ul>
                        </div>
                        <p class="pera">
                            "Highly recommended for anyone dealing with taxes. Umair is a professional and trained
                            consultant who provides clear and reliable guidance. His advice has saved me both time and
                            money."
                        </p>
                        <div class="bottom-hadding">
                            <div class="image">
                                <img alt="" src="{% static 'assets/img/testimonial/tes7-img1.png' %}">
                            </div>
                            <div class="headding">
                                <h5><a href="#">Waqar Ahmed</a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="tes7-single-slider">
                        <div class="icon">
                            <img alt="" src="{% static 'assets/img/icons/tes7-icon.svg' %}">
                        </div>
                        <div class="reting">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li class="reting-hadding">(5) Rating</li>
                            </ul>
                        </div>
                        <p class="pera">
                            "Thank you for sharing such valuable knowledge about taxes in Pakistan. Your guidance has
                            made tax matters much clearer for me. May Allah bless you for continuing this great work."
                        </p>
                        <div class="bottom-hadding">
                            <div class="image">
                                <img alt="" src="{% static 'assets/img/testimonial/tes7-img2.png' %}">
                            </div>
                            <div class="headding">
                                <h5><a href="#">Muhammad Shazad</a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="tes7-single-slider">
                        <div class="icon">
                            <img alt="" src="{% static 'assets/img/icons/tes7-icon.svg' %}">
                        </div>
                        <div class="reting">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li class="reting-hadding">(5) Rating</li>
                            </ul>
                        </div>
                        <p class="pera">
                            "As a small business owner, I was overwhelmed with sales tax and payroll. TaxBuddy Umair
                            handled everything on time and even identified deductions I didn’t know about. The service
                            was excellent and stress-free."
                        </p>
                        <div class="bottom-hadding">
                            <div class="image">
                                <img alt="" src="{% static 'assets/img/testimonial/tes7-img3.png' %}">
                            </div>
                            <div class="headding">
                                <h5><a href="#">Shahriyar Burney</a></h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <!--=====testimonial end=======-->
</div>


<!--=====blog start here =======-->
<div class="blog-area inner-blog-1 section-padding inner-font-1">
    <div class="container">
        <div class="row" id="masonry-grid">
            {% for res in result %}
            <div class="col-md-6 col-lg-4 mesonry-item design marketing stories lifestyle">
                <div class="single-blog blog-sm">
                    <div class="blog-img">
                        <a href="/{{res.slug}}"><img alt="{{res.title}}" src="{{res.image.url}}">
                        </a>
                    </div>
                    <ul class="blog-tags">
                        <li><a href="#">{% if res.type == '1' %} Income Tax {% else %} Sales Tax {% endif %}</a></li>
                    </ul>
                    <h3>
                        <a href="/{{res.slug}}" style="font-size:20px">{{res.title}}</a>
                    </h3>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>
<!--=====blog end here =======-->

<!--=====contact start=======-->
{% include 'contact.html' %}
<!--=====contact end=======-->


{% include 'partials/footer.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}


</body>
</html>
