{% load static %}
<head>
    {% include 'partials/head-css.html' %}
</head>

<body>
{% include 'partials/topbar.html' %}

<!--=====Welcome start=======-->

<div class="welcome-area welcome-2 bg5 position-relative" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="title title2">
                    <small class="heading-top2" data-aos="fade-right" data-aos-duration="600">
                        <img alt="" src="{% static 'assets/img/icons/money.png' %}">Simplifying Tax Laws for Every Pakistani

                    </small>
                    <h1 data-aos="fade-right" data-aos-duration="800">TaxBuddy Umair.</h1>
                    <p data-aos="fade-right" data-aos-duration="1000">
                        a platform that simplifies tax-related queries and provides information on tax laws.
                    </p>
                    <div class="space30"></div>
                    <div class="btn-group" data-aos="fade-right" data-aos-duration="1200">
                        <a class="theme-btn-2" href="">Get An Estimated Quote
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                        <a class="theme-btn-3" href="">Schedule A Call
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="space80"></div>
                    <div class="logo-area2" data-aos="fade-right" data-aos-duration="1400">
                        <p>Trusted by more than 200+ Clients</p>
                        <div class="logos logos2 owl-carousel">
                            <div class="single-logo">
                                <img alt="" src="{% static 'assets/img/testimonial/author1.jpg' %}">
                            </div>
                            <div class="single-logo">
                                <img alt="" src="{% static 'assets/img/testimonial/author2.jpg' %}">
                            </div>
                            <div class="single-logo">
                                <img alt="" src="{% static 'assets/img/testimonial/author3.jpg' %}">
                            </div>
                            <div class="single-logo">
                                <img alt="" src="{% static 'assets/img/testimonial/author4.jpg' %}">
                            </div>
                            <div class="single-logo">
                                <img alt="" src="{% static 'assets/img/testimonial/author5.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-none d-lg-block">
                <div class="hero-img-elements" data-aos="zoom-out" data-aos-duration="800">
                    <div class="hero-main-img position-relative top-right-polygon-1">
                        <img alt="" class="border-radius" src="{% static 'assets/img/bg/main2.jpg' %}">
                        <div class="corner-shape2 position-absolute">
                            <img alt="" src="{% static 'assets/img/shapes/tax-shape1.png' %}">
                        </div>
                        <div class="corner-right-bottom-shape2 position-absolute">
                            <img alt="" src="{% static 'assets/img/shapes/shape-right-bottom2.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="down-arrow2" data-aos="fade-down" data-aos-duration="400">
        <a href="#about">
            <img alt="" src="{% static 'assets/img/icons/down-arrow-black.svg' %}">
        </a>
    </div>
</div>

<!--=====Welcome end=======-->

<!--=====Tax business start=======-->
<div class="tax-business section-padding2 bg6" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 m-auto">
                <div class="heading2 white-heading text-center">
                    <small class="heading-top" data-aos="fade-up" data-aos-duration="600">
                        <img alt="" src="{% static 'assets/img/icons/hands.svg' %}">TaxBuddy Umair Here For Your Tax Relief.
                    </small>
                    <h2 data-aos="fade-up" data-aos-duration="800">
                        <span class="heilight-left">TaxBuddy</span> Umair is built for small business.
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="600">
                <div class="single-business trans-1">
                    <div class="business-icon">
                        <img alt="" src="{% static 'assets/img/icons/tax-business1.png' %}">
                    </div>
                    <h3>IRS Tax Problems</h3>
                    <p>Making a mistake on your return can be costly. From missed deductions, or worse, the dreaded IRS
                        audit.</p>
                    <a class="theme-btn-7" href="">Learn More <span><i
                            class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="single-business trans-1">
                    <div class="business-icon">
                        <img alt="" src="{% static 'assets/img/icons/tax-business2.png' %}"/>
                    </div>
                    <h3>Tax Preparation and Planning</h3>
                    <p>Getting the most out of your income and finances is what sets us apart. Whether you need tax
                        preparation services.</p>
                    <a class="theme-btn-7" href="">Learn More <span><i
                            class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="single-business trans-1">
                    <div class="business-icon">
                        <img alt="" src="{% static 'assets/img/icons/tax-business3.png' %}"/>
                    </div>
                    <h3>Payroll Services</h3>
                    <p>Managing payroll may not seem like a critical task until something goes wrong. We have experts
                        and technology to help you.</p>
                    <a class="theme-btn-7" href="">Learn More <span><i
                            class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="single-business trans-1">
                    <div class="business-icon">
                        <img alt="" src="{% static 'assets/img/icons/tax-business4.png' %}"/>
                    </div>
                    <h3>Income Tax Filing and Refunds</h3>
                    <p>We know that competent, consistent bookkeeping is the key to a business's success. Success starts
                        when you take charge of books.</p>
                    <a class="theme-btn-7" href="">Learn More <span><i
                            class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>

            <div class="space20"></div>

            <div class="col-12 text-center" data-aos="fade-up" data-aos-duration="1400">
                <a class="theme-btn-3" href="">Explore More Services <span><i
                        class="fa-solid fa-arrow-right"></i></span></a>
            </div>
        </div>
    </div>
</div>
<!--=====Tax business end=======-->

<!--=====About start=======-->
<div class="about-area section-padding bg5-left">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-bg-21 mr50" data-aos="zoom-out" data-aos-duration="800">
                    <div class="about-bg-main-img position-relative top-left-polygon-1">
                        <img alt="About Us" src="{% static 'assets/img/team/team8.jpg' %}"/>
                        <div class="corner-right-bottom-shape2 position-absolute">
                            <img alt="Shape" src="{% static 'assets/img/shapes/shape-right-bottom2.png' %}"/>
                        </div>
                        <div class="corner-shape2-left position-absolute">
                            <img alt="Tax Shape" src="{% static 'assets/img/shapes/tax-shape2.png' %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading2 no-margin-heading ml50">
                    <small class="heading-top" data-aos="fade-left" data-aos-duration="600">
                        <img alt="Hands Icon" src="{% static 'assets/img/icons/hands.svg' %}"> We Are Here For Your Tax
                        Relief.
                    </small>
                    <h2 data-aos="fade-left" data-aos-duration="800">We Handle The Most Tedious Bookkeeping Tasks of
                        Your Business Operations.</h2>
                    <p data-aos="fade-left" data-aos-duration="1000" style="text-align:justify">Experienced, knowledgeable professionals in Property Tax Consulting. Our team is committed to saving you money by securing the lowest possible assessed tax value in accordance with <strong> Federal Board of Revenue </strong> rates for your commercial or residential properties..</p>
                    <p data-aos="fade-left" data-aos-duration="1000">Let <strong>TaxBuddy Umair </strong>  be your trusted partner in navigating Pakistan’s complex tax system with confidence and ease.</p>
                    <div class="space50"></div>
                    <div class="button-group" data-aos="fade-left" data-aos-duration="1200">
                        <a class="theme-btn-2" href="about-1.php">More About Us <span><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====About end=======-->

<!--=====About start=======-->
<div class="about-area section-padding bg5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="mr50">
                    <div class="heading2 no-margin-heading">
                        <small class="heading-top" data-aos="fade-right" data-aos-duration="600">
                            <img alt="Hands Icon" src="{% static 'assets/img/icons/hands.svg' %}"> TaxBuddy Umair Here For Your Tax Relief.
                        </small>
                        <h2 data-aos="fade-right" data-aos-duration="800">We Handle The Most Tedious Bookkeeping Tasks
                            of Your Business Operations.</h2>
                        <p data-aos="fade-right" data-aos-duration="1000">Experienced, knowledgeable professionals in
                            Property Tax Consulting. Our team is committed to saving you money by obtaining the lowest
                            possible assessed value for your commercial or residential properties.</p>
                        <div class="space50"></div>
                        <div class="button-group" data-aos="fade-right" data-aos-duration="1200">
                            <a class="theme-btn-2" href="">More About Us <span><i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="counter2 ml50 position-relative">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-counter" data-aos="zoom-out" data-aos-duration="600">
                                <div class="conter-icon">
                                    <img alt="Counter Icon" src="{% static 'assets/img/icons/counter21.png' %}">
                                </div>
                                <h2><span class="up-counter">645</span>+</h2>
                                <p>Successful Business Meetings</p>
                            </div>
                            <div class="single-counter" data-aos="zoom-out" data-aos-duration="800">
                                <div class="conter-icon">
                                    <img alt="Counter Icon" src="{% static 'assets/img/icons/counter22.png' %}">
                                </div>
                                <h2><span class="up-counter">34</span>+</h2>
                                <p>Tax Relief Consultations</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-counter mt-5" data-aos="zoom-out" data-aos-duration="1000">
                                <div class="conter-icon">
                                    <img alt="Counter Icon" src="{% static 'assets/img/icons/counter23.png' %}">
                                </div>
                                <h2><span class="up-counter">562</span>+</h2>
                                <p>Successful Tax Filings</p>
                            </div>
                            <div class="single-counter" data-aos="zoom-out" data-aos-duration="1200">
                                <div class="conter-icon">
                                    <img alt="Counter Icon" src="{% static 'assets/img/icons/counter24.png' %}">
                                </div>
                                <h2><span class="up-counter">90</span>%</h2>
                                <p>Client Satisfaction Rate</p>
                            </div>
                        </div>
                    </div>
                    <div class="corner-right-bottom-shape2 position-absolute">
                        <img alt="Shape" src="{% static 'assets/img/shapes/shape-right-bottom2.png' %}">
                    </div>
                    <div class="corner-shape2-left position-absolute">
                        <img alt="Tax Shape" src="{% static 'assets/img/shapes/tax-shape2.png' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-lg-none">
                <div class="mr50">
                    <div class="heading2 no-margin-heading">
                        <small class="heading-top"><img alt="Hands Icon"
                                                        src="{% static 'assets/img/icons/hands.svg' %}"> TaxBuddy Umair Here For Your Tax Relief.</small>
                        <h2>We Handle The Most Tedious Bookkeeping Tasks of Your Business Operations.</h2>
                        <p>Experienced, knowledgeable professionals in Property Tax Consulting. Our team is committed to
                            saving you money by obtaining the lowest possible assessed value for your commercial or
                            residential properties.</p>
                        <div class="space50"></div>
                        <a class="theme-btn-2" href="">More About Us <span><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====About end=======-->

<!--=====Case study start=======-->
<!--<div class="case-study-1 section-padding bg6">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4 m-auto">-->
<!--                <div class="heading2 white-heading text-center">-->
<!--                    <small class="heading-top" data-aos="fade-up" data-aos-duration="600">-->
<!--                        <img alt="" src="{% static 'assets/img/icons/hands.svg' %}">We Are Here For Your Tax Relief.-->
<!--                    </small>-->
<!--                    <h2 data-aos="fade-up" data-aos-duration="800">-->
<!--                        <span class="heilight-left">TaxBuddy Umair</span> is built for small business.-->
<!--                    </h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="case-studes owl-carousel" data-aos="fade-up" data-aos-duration="1200">-->
<!--                    <div class="single-case-study">-->
<!--                        <div class="case-study-img">-->
<!--                            <img alt="" src="{% static 'assets/img/case-study/casestudy3.jpg' %}">-->
<!--                        </div>-->
<!--                        <div class="case-study-content">-->
<!--                            <h4>Analytics Strategy</h4>-->
<!--                            <p>Making a mistake on your return can be costly. From missed deductions.</p>-->
<!--                            <a class="theme-btn-7" href="single-case-study-1.php">Check out Check Study <span><i-->
<!--                                    class="fa-solid fa-arrow-right"></i></span></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--=====Case study end=======-->


<!--=====Blog start=======-->
<div class="blog-area blog2 section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-5 m-auto">
                <div class="heading2 text-center">
                    <small class="heading-top" data-aos="fade-up" data-aos-duration="600">
                        <img alt="" src="{% static 'assets/img/icons/hands.svg' %}">TaxBuddy Umair Here For Your Tax Relief.
                    </small>
                    <h2 data-aos="fade-up" data-aos-duration="800">
                        <span class="heilight-left">Take</span> a look at the latest articles from TaxBuddy Umair.
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-up" data-aos-duration="600">
                <div class="single-blog blog-md ">
                    <div class="blog-img">
                        <img alt="" src="{% static 'assets/img/blog/blog4.png' %}">
                    </div>
                    <div class="blog-contents">
                        <ul class="blog-tags">
                            <li><a href="blog-1.php"> <img alt="" src="{% static 'assets/img/icons/hands.svg' %}">Stories</a>
                            </li>
                        </ul>
                        <h3><a href="single.php">How To Write Your Consulting Firm Mission Statement (& Why It’s
                            Important).</a></h3>
                        <a class="theme-btn-4" href="single-1.php">Read More <span><i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-duration="800">
                <div class="single-blog blog-md">
                    <div class="blog-img">
                        <img alt="" src="{% static 'assets/img/blog/blog1.png' %}">
                    </div>
                    <div class="blog-contents">
                        <ul class="blog-tags">
                            <li><a href="blog-1.php"> <img alt="" src="{% static 'assets/img/icons/hands.svg' %}">Product</a>
                            </li>
                        </ul>
                        <h3><a href="single.php">Personal Branding For Consultants: Be Authentic To Get More
                            Clients.</a></h3>
                        <a class="theme-btn-4" href="single-1.php">Read More <span><i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="single-blog blog-md">
                    <div class="blog-img">
                        <img alt="" src="{% static 'assets/img/blog/blog2.png' %}">
                    </div>
                    <div class="blog-contents">
                        <ul class="blog-tags">
                            <li><a href="blog-2.php"> <img alt="" src="{% static 'assets/img/icons/hands.svg' %}">Business</a>
                            </li>
                        </ul>
                        <h3><a href="single.php">What Is An Entrepreneurial Consultant? (Examples & Stories).</a></h3>
                        <a class="theme-btn-4" href="single-1.php">Read More <span><i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====Blog end=======-->


<!--=====Subscribe start=======-->
<div class="subscribe2 bg7 section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="heading2 white-heading no-margin-heading">
                    <small class="heading-top">
                        <img alt="" src="{% static 'assets/img/icons/hands.svg' %}">TaxBuddy Umair Here For Your Tax Relief.
                    </small>
                    <h2>Join Us today and let us help <span class="heilight-right">you</span> <br> to grow your
                        business.</h2>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-1">
                <div class="sunscribe-form">
                    <div class="subscribe-from-wrap">
                        <form action="#">
                            <input placeholder="Email Address" type="email">
                            <button name="button" type="submit">
                                Subscribe Now <img alt=""
                                                   src="{% static 'assets/img/icons/arrow-up-right-black.svg' %}">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====Subscribe end=======-->

{% include 'partials/footer.html' %}

{# {% include 'partials/right-sidebar.html' %} #}

{% include 'partials/up.html' %}

{% include 'partials/footer-scripts.html' %}

</body>

</html>