<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>NTN Registration - Quick & Compliant Service</title>
    {% include 'partials/head-css.html' %}
</head>
<body>
{% include 'partials/topbar.html' %}
<br/> <br/> <br/> <br/>
<div class="container">
   <div class="row">
            <div class="text-center">
      <h2 class="fw-bold">NTN Registration – Get Your National Tax Number Easily</h2>
      <p class="text-muted">Quick & compliant registration service for salaried & business individuals.</p>
            </div>

   </div>
    <div class="row">
        <div class="col-md-6">
            <ol class="list-group">
                <li class="list-group-item">CNIC (13-digit number)</li>
                <li class="list-group-item">Prefix (Mr., Ms., etc.)</li>
                <li class="list-group-item">First Name</li>
                <li class="list-group-item">Middle Name (optional)</li>
                <li class="list-group-item">Last Name</li>
            </ol>

            <hr/>

        </div>

        <div class="col-md-6">
            <ol class="list-group">
                <li class="list-group-item">Current Service Provider (e.g., Jazz, Zong)</li>
                <li class="list-group-item">Cell Number (registered on your CNIC)</li>
                <li class="list-group-item">Confirmation of Cell Number</li>
                <li class="list-group-item">Email Address</li>
                <li class="list-group-item">Confirmation of Email Address</li>
            </ol>
            <hr/>

        </div>
        <div class="col-md-6">
            <ol class="list-group">
                <li class="list-group-item">Address Type (e.g., Residential, Business)</li>
                <li class="list-group-item">Form Type (e.g. Home, Flat)</li>
                <li class="list-group-item">Measurement Unit (e.g., Marla, Sq. ft.)</li>
                <li class="list-group-item">Total Area</li>
                <li class="list-group-item">Unit Number</li>

            </ol>
            <hr/>

        </div>

        <div class="col-md-6">
            <ol class="list-group">
                <li class="list-group-item">Complex / Street / Block</li>
                <li class="list-group-item">Area / Locality / Road</li>
                <li class="list-group-item">City</li>
                <li class="list-group-item">District</li>
                <li class="list-group-item">Capacity (e.g., Owner, Tenant)</li>
                <hr/>
            </ol>
        </div>
    </div>
</div>

{% include 'partials/footer.html' %}
{% include 'partials/footer-scripts.html' %}

</body>
</html>
