<html>
{% load humanize %}

{% load static %}

{% include 'partials/head-css.html' %}

<body>
{% include 'partials/topbar.html' %}
<!--=====Inner hero Start=======-->
<div class="welcome-3 bg8" id="home">
    <!--=====Welcome start=======-->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="title3">
                    <h1 data-aos="fade-right" data-aos-duration="400">At TaxBuddy Umair, we provide user-friendly, reliable, and up-to-date tax tools.
                    </h1>
                    <p data-aos="fade-right" data-aos-duration="600">Making a mistake on your return can be costly. From
                        missed
                        deductions, or worse, the dreaded IRS
                        audit.</p>
                    <div class="space30"></div>
                    <div class="button-group" data-aos="fade-right" data-aos-duration="800">
                        <a class="theme-btn-10" href="contact-1.html">Free Case Evaluation <span><i
                                class="fa-solid fa-arrow-right"></i>
                </span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-2-image">
                    <img data-aos="zoom-out" data-aos-duration="1000" src="{% static 'assets/img/bg/main-3.png' %}"
                         alt="">
                    <div class="hero-3-bg">
                        <img data-aos="zoom-in" data-aos-duration="800"
                             src="{% static 'assets/img/bg/hero-3-bg.png' %} " alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====Welcome end=======-->

<!--=====Tax Calculator Section=======-->
<div class="case-study-2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="heading3 text-center">
                    <small data-aos="fade-up" data-aos-duration="600" class="overline">Why Choose Us</small>
                    <h2 data-aos="fade-up" data-aos-duration="800">Why Choose Us to Handle Your Case?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="single-case-study">
                    <div class="case-study-img">
                        <img src="{% static 'assets/img/case-study/casestudy-4-3.jpg' %}" alt="">
                    </div>
                    <div class="single-case-study-content">
                        <div class="case-study-icon">
                            <img src="{% static 'assets/img/icons/case-study-4-1.png' %}" alt="">
                        </div>
                        <h3>Salary Income Tax Calculator</h3>
                        <p>Easily calculate your annual income tax based on your monthly salary, allowances, and
                            deductions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="single-case-study active">
                    <div class="case-study-img">
                        <img src="{% static 'assets/img/case-study/casestudy-4-2.jpg' %}" alt="">
                    </div>
                    <div class="single-case-study-content">
                        <div class="case-study-icon">
                            <img src="{% static 'assets/img/icons/case-study-4-2.png' %}" alt="">
                        </div>
                        <h3>Property Tax Calculator</h3>
                        <p>Buying or selling Immovable property in Pakistan? Use Property Tax Calculator to find out the
                            exact tax you’ll pay on transactions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="single-case-study">
                    <div class="case-study-img">
                        <img src="{% static 'assets/img/case-study/casestudy-4-1.jpg' %}" alt="">
                    </div>
                    <div class="single-case-study-content">
                        <div class="case-study-icon">
                            <img src="{% static 'assets/img/icons/case-study-4-3.png' %}" alt="">
                        </div>
                        <h3>Capital Gain Tax Calculator</h3>
                        <p>Calculate Capital Gain Tax on the sale of Immovable Property. This tool considers your
                            holding period, purchase and sale price.</p>
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="single-case-study">
                    <div class="case-study-img">
                        <img src="{% static 'assets/img/blog/blog9.png' %}" alt="">
                    </div>
                    <div class="single-case-study-content">
                        <div class="case-study-icon">
                            <img src="{% static 'assets/img/icons/case-study-4-3.png' %}" alt="">
                        </div>
                        <h3>Income From Property</h3>
                        <p>Calculate Tax on the rental income of Immovable Property.</p>
                    </div>
                </div>
            </div>

               <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="single-case-study">
                    <div class="case-study-img">
                        <img src="{% static 'assets/img/blog/blog11.png' %}" alt="">
                    </div>
                    <div class="single-case-study-content">
                        <div class="case-study-icon">
                            <img src="{% static 'assets/img/icons/case-study-4-3.png' %}" alt="">
                        </div>
                        <h3>Tax on High Earnings Income</h3>
                        <p>Calculate Tax on High Earnings Income.</p>
                    </div>
                </div>
            </div>
                           <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="single-case-study">
                    <div class="case-study-img">
                        <img src="{% static 'assets/img/blog/blog11.png' %}" alt="">
                    </div>
                    <div class="single-case-study-content">
                        <div class="case-study-icon">
                            <img src="{% static 'assets/img/icons/case-study-4-3.png' %}" alt="">
                        </div>
                        <h3>Value of Immovable Property</h3>
                        <p>Calculate Fair Market Value of Immovable Property - per sq foot</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% include 'partials/end.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}

</body>

</html>