<!DOCTYPE html>
{% load humanize %}
    {% load static %}

<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/icons/fab2.png' %}">
    <title>AOP Tax Calculator Pakistan | TaxBuddy Umair</title>
<meta name="description" content="Free AOP Tax Calculator for Pakistan. Calculate Association of Persons (AOP) income tax quickly and accurately.">
<meta name="keywords" content="AOP tax calculator Pakistan, association of persons tax Pakistan, FBR AOP tax rates, AOP income tax return Pakistan">
<meta property="og:title" content="AOP Tax Calculator Pakistan | TaxBuddy Umair">
<meta property="og:description" content="Calculate Association of Persons (AOP) income tax for Pakistan 2025 with our free online calculator.">
<meta property="og:url" content="https://www.taxbuddyumair.com/AOPCalculator">
<meta property="og:image" content="https://taxbuddyumair.com/static/assets/img/icons/fab2.png" />

    {% include 'partials/head-css.html' %}
</head>
<body>
<!--=====Navigation Bar=======-->
{% include 'partials/topbar.html' %}
<!--=====Navigation Bar Ends Here=======-->

{% include 'partials/form_slab.html' %}


{% include 'partials/footer.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}


</body>
</html>