{% load static %}

<head>
    <!-- Lightgallery core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.10.0/dist/css/lightgallery.min.css">

    {% include 'partials/head-css.html' %}

</head>

<body>

{% include 'partials/topbar.html' %}

<!--=====Single blog start=======-->
<div class="single-blog-area padding-top inner-font-1 inner-blog-1 lightgallery" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ">
                <div class="single-blog-contents lg-ml-15">
                    <div class="single-blog-img">
                        <span class="spnImg" data-sub-html="{{ blog.title }}" data-src="media/{{blog.image}}">
                                <a href="media/{{ blog.image }}">
            <img src="media/{{ blog.image }}" alt="{{ blog.title }}" style="max-width: 100%; height: auto;"/>
          </a>

                            </span>

                    </div>
                    <ul class="blog-tags">
                        <li><a href="#">{{blog.type}}</a></li>
                    </ul>
                    <h2>
                        {{blog.title}}
                    </h2>
                    <div class="blog-date-time">
                        <ul class="blog-date">
                            <li><a href="#">{{blog.created_date|date}}</a></li>
                        </ul>
                    </div>
                    <p>
                        {{blog.description|safe}}
                    </p>

                    <div class="theme-border"></div>

                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="tags">
                                <ul>
                                    <li>TAGS:</li>
                                    <li><a href="#">Income Tax</a></li>
                                    <li><a href="#">Sales Tax</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social social3 text-right social-share">
                                <ul>
                                    <li>Share:</li>
                                    <li>
                                        <a data-bs-toggle="tooltip" href="#" title="Linked in"><i
                                                class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tooltip" href="#" title="Facebook"><i
                                                class="fa-brands fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tooltip" href="#" title="Instagram"><i
                                                class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tooltip" href="#" title="TikTok"><i
                                                class="fa-brands fa-tiktok"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% if userComments %}
                <div class="theme-comments-list">
                    <h3>{{length}} Comments</h3>
                    <div class="comments-list">
                        {% for user in userComments %}
                        <div class="single-commencts">
                            <div class="comments-img">
                                <img alt="" src="{% static 'assets/img/blog/comment.png' %}"/>
                            </div>
                            <div class="comments-heading">
                                <h4>{{user.name}}</h4>
                                <a class="reply-btn" href="#">Reply</a>
                            </div>
                            <p>{{user.comment}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="write-comments">
                    <h3>Leave a Comment</h3>
                    <div class="comment-form">

                        <form action="userComments" method="POST">
                            {% csrf_token %}

                            <div class="row">
                                <input type="hidden" name="hdBlogId" class="form-contorl" value="{{blog.id}}"/>
                                <div class="col-lg-6">
                                    <input placeholder="Name" type="text" name="user"/>
                                </div>
                                <div class="col-lg-6">
                                    <input placeholder="Email Address" type="email" name="email"/>
                                </div>
                                <div class="col-lg-12">
                                    <textarea cols="30" id="" name="comment" placeholder="Write a Comment"
                                              rows="5"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="theme-btn theme-btn-14" type="submit">
                                        Submit Comment
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widgets lg-mr-15">
                    <div class="single-widget padding-less-widget">
                        <h3>Search by keyword</h3>
                        <div class="search-form-widget">
                            <form action="#">
                                <input placeholder="Type keyword here" type="search"/>
                                <button class="search-icon" type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="single-widget about-widget">
                        <div class="about-author">
                            <img alt="" src="{% static 'assets/img/blog/blog5.png' %}"/>
                        </div>
                        <h4>TaxBuddy Umair.</h4>
                        <p>
                            When it comes to taxes, remember: compliance doesn’t happen overnight — understanding tax
                            laws like the Income Tax Ordinance, 2001 and Sales Tax Act, 1990 takes time, clarity, and
                            the right guidance. TaxBuddy Umair is here to help you navigate tax matters with ease and
                            confidence.

                        </p>
                        <div class="social social3 text-center">
                            <ul>
                                <li>
                                    <a data-bs-toggle="tooltip" href="#" title="Linked in"><i
                                            class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" href="#" title="Facebook"><i
                                            class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" href="#" title="Instagram"><i
                                            class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" href="#" title="TikTok"><i
                                            class="fa-brands fa-tiktok"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-widget recent-posts">
                        <h3>Recent Blogs</h3>
                        <div class="recent-post">
                            <div class="recent-post-content">
                                <a href="#">{{blog.title}}</a>
                                <div class="blog-date-time">
                                    <ul class="blog-date">
                                        <li><a href="#">{{blog.created_date|date}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="recent-img">
                                <img alt="{{blog.title}}" src="media/{{blog.image}}"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--=====Single blog end=======-->

<!--=====More blog  start=======-->
<div class="section-padding2 blog-area inner-blog-1 section-padding inner-font-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="heading2 text-center">
                    <small class="heading-top inner-heading-top">
                        <img alt="" src="{% static 'assets/img/icons/hands.svg' %}"/>Our More Blogs</small>
                    <h2>Our team of financial professionals.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-blog blog-md">
                    <div class="blog-img">
                        <a href="single-1.php"><img alt="" src="{% static 'assets/img/blog/blog6.png' %}"/></a>
                    </div>
                    <ul class="blog-tags">
                        <li><a href="#">Lifestyle</a></li>
                    </ul>
                    <h3>
                        <a href="single-1.php">"Anyone can be a refugee": Resisting racism in Neukölln.</a>
                    </h3>
                    <p>
                        In the past 90 days, the world has a serious escalation in
                        cyberattacks.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-blog blog-md">
                    <div class="blog-img">
                        <a href="single-1.php"><img alt="" src="{% static 'assets/img/blog/blog7.png '%}"/></a>
                    </div>
                    <ul class="blog-tags">
                        <li><a href="#">Story</a></li>
                    </ul>
                    <h3>
                        <a href="single-1.php">Best Practices for Employee Recognition Programs</a>
                    </h3>
                    <p>
                        In the past 90 days, the world has a serious escalation in
                        cyberattacks.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-blog blog-md">
                    <div class="blog-img">
                        <a href="single-1.php"><img alt="" src="{% static 'assets/img/blog/blog8.png' %}"/></a>
                    </div>
                    <ul class="blog-tags">
                        <li><a href="#">Design</a></li>
                    </ul>
                    <h3>
                        <a href="single-1.php">Five things all HRs think when they think of diversity.</a>
                    </h3>
                    <p>
                        In the past 90 days, the world has a serious escalation in
                        cyberattacks.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====More blog end=======-->


{% include 'partials/footer.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}

</body>

</html>


<!-- LightGallery core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.10.0/dist/js/lightgallery-all.min.js"></script>

<!-- LightGallery Zoom Plugin -->
<script src="https://cdn.jsdelivr.net/npm/lg-zoom@1.0.0/dist/lg-zoom.min.js"></script>

<!-- LightGallery Rotate Plugin -->
<script src="https://cdn.jsdelivr.net/npm/lg-rotate@1.0.0/dist/lg-rotate.min.js"></script>


<!--Light gallery -->
<script type="text/javascript">
    $(document).ready(function() {
        $('.lightgallery').lightGallery({
            selector: '.spnImg',
            thumbnail: false

        });
    });
</script>
<!--Light gallery Ends Here -->