<!DOCTYPE html>
{% load humanize %}
 {% load static %}

<html lang="en">
<head>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/icons/fab2.png' %}">

<title>Business Individual Tax Calculator Pakistan | TaxBuddy Umair</title>

<meta name="description" content="Free Business Individual Tax Calculator for Pakistan. Calculate your income tax as a business individual accurately.">
<meta name="keywords" content="business individual tax calculator Pakistan, business tax Pakistan, FBR business tax calculator, income tax calculator business person">
<meta property="og:title" content="Business Individual Tax Calculator Pakistan | TaxBuddy Umair">
<meta property="og:description" content="Easily calculate your Business Individual income tax for Pakistan 2025 with our free tax calculator.">
<meta property="og:url" content="https://www.taxbuddyumair.com/BusinessCalculator">
<meta property="og:image" content="https://taxbuddyumair.com/static/assets/img/icons/fab2.png" />
{% include 'partials/head-css.html' %}
</head>
<body>

<!--=====Navigation Bar=======-->
{% include 'partials/topbar.html' %}
<!--=====Navigation Bar Ends Here=======-->
{% include 'partials/form_slab.html' %}

{% include 'partials/footer.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}
</body>
</html>
