{% load static %}
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick-slider.js' %}"></script>
<script src="{% static 'assets/js/plugins/mesonry.js' %}"></script>
<script src="{% static 'assets/js/plugins/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/plugins/fontawesome.js' %}"></script>
