{% load static %}

<!--=====CSS=======-->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/aos.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/metisMenu.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/slick-slider.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/fonts.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/master.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600;700&display=swap" rel="stylesheet">

html {
  font-family: "Inter", "Roboto", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

body, p, li, input, button {
  font-family: "Inter", sans-serif;
}


