{% load static %}
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEP4P5YWE6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EEP4P5YWE6');
</script>

</head>
<style>
    h5{text-align: justify;}
    .theme-btn-11 {
      display: inline-block;
      width: 100%;
      padding: 12px 20px;
      background-color: #198754; /* Bootstrap Primary Blue */
      color: #fff;
      border: none;
      border-radius: 8px;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      transition: all 0.3s ease;
      text-decoration: none;
    }

    .theme-btn-11:hover {
      background-color: #198754; /* Darker blue on hover */
      color: #fff;
      transform: translateY(-2px);
      box-shadow: 0 4px 10px rgba(13, 110, 253, 0.3);
    }

    .theme-btn-11:active {
      transform: translateY(0);
      box-shadow: none;
    }
</style>

<div class="tab-content container">
    <div id="tax-services">
        <div class="row">

            <!-- NTN Registration -->
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="price-heading">
                        <p>NTN Registration</p>
                        <h5>Register your National Tax Number (NTN) with FBR hassle-free.</h5>
                        <h3>Rs. 1,500</h3>
                        <h6>One Time Service Fee</h6>
                    </div>
                    <div class="price-body">
                        <a class="theme-btn-11 full-btn" href="#">Get NTN Registration</a>
                        <h4>What’s Included</h4>
                        <ul>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_one"></span>FBR Account Creation
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_two"></span>Preparation of NTN Form
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_three"></span>Submission to FBR
                                Portal
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_four"></span>Downloadable NTN
                                Certificate
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_five"></span>Email/WhatsApp Support
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- AOP Registration -->
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="price-heading">
                        <p>AOP Registration</p>
                        <h5>Register your AOP National Tax Number (NTN) with FBR hassle-free.</h5>
                        <h3>Rs. 3,000</h3>
                        <h6>One Time Service Fee</h6>
                    </div>
                    <div class="price-body">
                        <a class="theme-btn-11 full-btn" href="#">Get AOP Registration</a>
                        <h4>What’s Included</h4>
                        <ul>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_two"></span>Partnership Deed
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_three"></span>Signed partnership Form
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_four"></span>Authorization of Principal Officer
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_five"></span> Color Copy of CNIC's Partners  </li>
                                   <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="NTN_icon_image_five"></span> Letter Head / Latest Electricity Bill  </li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- Income Tax Return -->
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="price-heading">
                        <p>Income Tax Return</p>
                        <h5>File your annual Income Tax Return and stay ATL compliant.</h5>
                        <h3>Rs. 3,000</h3>
                        <h6>Per Year Fee</h6>
                    </div>
                    <div class="price-body">
                        <a class="theme-btn-11 full-btn" href="#">File Income Tax Return</a>
                        <h4>What’s Included</h4>
                        <ul>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="tax_return_image_one"></span>Preparation & Filing
                                of Return
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="tax_return_image_two"></span>Wealth Statement
                                Filing
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="tax_return_image_three"></span>Salary / Business /
                                Freelance Income
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="tax_return_image_four"></span>Tax Planning Advice
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="tax_return_image_five"></span>ATL Confirmation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Sales Tax Registration -->
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="price-heading">
                        <p>Sales Tax Registration</p>
                        <h5>Register your business for Sales Tax with FBR and stay compliant.</h5>
                        <h3>Rs. 5,000</h3>
                        <h6>One Time Service Fee</h6>
                    </div>
                    <div class="price-body">
                        <a class="theme-btn-11 full-btn" href="#">Get Sales Tax Registration</a>
                        <h4>What’s Included</h4>
                        <ul>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="STRN_icon-image_one"></span>Preparation of STRN
                                Application
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="STRN_icon-image_two"></span>Upload Business
                                Documents
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="STRN_icon-image_three"></span>Registration
                                Follow-up with FBR
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="STRN_icon-image_four"></span>STRN Certificate
                                Download
                            </li>
                            <li><span class="pricing-icon"><img src="{% static 'assets/img/icons/double-check2.png' %}"
                                                                alt="STRN_icon-image_five"></span>Free Consultation (1
                                session)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- PSEB Registration -->
            <div class="col-lg-4 mb-4">
                <div class="single-price">
                    <div class="price-heading">
                        <p>Pakistan Software Export Board</p>
                        <h5>Assist Freelancers in obtaining official registration with the (PSEB).</h5>
                        <h3>Rs. 2,000</h3>
                        <h6>One-Time Service Fee</h6>
                    </div>
                    <div class="price-body">
                        <a class="btn btn-success w-100" href="#">Get PSEB Registration</a>
                        <h4 class="mt-3">What’s Included</h4>
                        <ul>
                            <li> <span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>
                                Profile Creation on PSEB Portal </span>
                            </li>
                            <li><span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>
                                Document Preparation & Submission</span>
                            </li>
                            <li><span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>
                                Freelancer Verification Assistance </span>
                            </li>
                            <li><span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>
                                Follow-up until Approval </span>
                            </li>
                            <li><span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>Certificate Download Support
                            </span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Sales Tax Return Filing-->
            <div class="col-lg-4 mb-4">
                <div class="single-price">
                    <div class="price-heading">
                        <p>Sales Tax Return Filing</p>
                        <h5>File your Monthly Sales Tax Return on time — due by the 15th of each month.</h5>
                        <h3>Rs. 5,000</h3>
                        <h6>Per month Fee</h6>
                    </div>
                    <div class="price-body">
                        <a class="btn btn-success w-100" href="#">File Sales Tax Return</a>
                        <h4 class="mt-3">What’s Included</h4>
                        <ul>
                            <li> <span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>
                                Monthly Sales Tax Return Preparation </span>
                            </li>
                            <li><span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>
                                Data Review & Reconciliation</span>
                            </li>
                            <li><span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>
                                Copy of Purchase Invoice </span>
                            </li>
                            <li><span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>
                                Copy of Sale Invoice </span>
                            </li>
                            <li><span class="pricing-icon"><img
                                    src="{% static 'assets/img/icons/double-check2.png' %}"/>Bank Account Statement
                            </span></li>
                        </ul>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
