{% load static %}
<!--=====Sidebar start=======-->
<div class="demo-sidebar" id="demo-sidebar">
    <div class="demo-sidebar-wrap">
      <div class="demo-sidebar-menu">
        <span data-bs-toggle="tooltip" title="View Demos" class="demosIcon" id="demosIcon"><i
            class="fa-solid fa-gear"></i></span>
        <span data-bs-toggle="tooltip" title="Buy Theme"><a href="#"><i
              class="fa-solid fa-cart-shopping"></i></a></span>
      </div>
      <div class="demo-sidebar-content">
        <div class="heading2">
          <h2>Pre-Built Demos Collection</h2>
        </div>
        <div class="demo-sidebar-items">
          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">

              <img src="{% static 'assets/img/demos/demo-2.jpg' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href="index.php">Tax Consulting 1</a>
            </div>
          </div>

          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/coming-soon.jpg' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href="">Tax Consulting 2</a>
            </div>
          </div>

          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-4.jpg ' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href="">Financial Consulting</a>
            </div>
          </div>
          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-3.jpg' %} " alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href="">Law Consulting</a>
            </div>
          </div>
          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-1.jpg' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="" class="theme-btn-9">Multi Page</a>
                <a href="" class="theme-btn-9">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href="">Business Consulting</a>
            </div>
          </div>
          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-5.png' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href=""> Insurance Consulting</a>
            </div>
          </div>

          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-7.png' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href="index-7.php"> Investment Consulting </a>
            </div>
          </div>

          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-8.png' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href=""> Visa Immigrant Consulting</a>
            </div>
          </div>

          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-9.png' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href=""> Public Relations Consulting</a>
            </div>
          </div>

          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-10.png' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href=""> Divorce Consulting 1 </a>
            </div>
          </div>


          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-11.png' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href=""> Divorce Consulting 2</a>
            </div>
          </div>

          <div class="single-demo-sidebar-item">
            <div class="demo-sidebar-item-img">
              <img src="{% static 'assets/img/demos/demo-rtl.png' %}" alt="" />
              <div class="demo-sidebar-buttons">
                <a href="">Multi Page</a>
                <a href="">Landing Page</a>
              </div>
            </div>
            <div class="demo-item-content">
              <a href="index-rtl-1.php">RTL Home</a>
            </div>
          </div>

        </div>
<!--        <div class="space30"></div>-->
<!--        <div class="heading2">-->
<!--          <h2>Pre-Built Inner Demos</h2>-->
<!--        </div>-->
<!--        <div class="demo-sidebar-items inner-dmeos">-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--                    <img src="{% static 'assets/img/demos/about-1.jpg' %}" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="about-1.php">About 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--                    <img src="{% static 'assets/img/demos/about-2.jpg' %}" alt="" />-->

<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="about-2.php">About 2</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/blog-1.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="blog-mesonry-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="blog-mesonry-1.php">Blog 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/blog-2.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="blog-2.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="blog-2.php">Blog 2</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/blog-3.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="blog-3.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="blog-3.php">Blog 3</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/blog-inner-1.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="single-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="single-1.php">Blog Inner 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/blog-inner-2.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="single-2.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="single-2.php">Blog Inner 2</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/career.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="career-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="career-1.php">Carrer 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/service-1.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="service-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="service-1.php">Service 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/service-2.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="service-2.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="service-2.php">Service 2</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/service-inner-1.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="single-service-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="single-service-1.php">Service inner 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/service-inner-2.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="single-service-2.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="single-service-2.php">Service inner 2</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/price-1.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="price-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="price-1.php">Price 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/price-2.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="price-2.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="price-2.php">Price 2</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/case-1.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="case-study-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="case-study-1.php">Case Study 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/case-2.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="case-study-2.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="case-study-2.php">Case Study 2</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/case-3.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="case-study-3.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="case-study-3.php">Case Study 3</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/case-4.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="case-study-4.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="case-study-4.php">Case Study 4</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/case-inner.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="single-case-study-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="single-case-study-1.php">Case Study Inner</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/contact-1.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="contact-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="contact-1.php">Contact 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/contact-2.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="contact-2.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="contact-2.php">Contact 2</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/faq.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="faq-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="faq-1.php">Faq</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/testimonial-1.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="testimonial-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="testimonial-1.php">Testimonial</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/team.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="team-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="team-1.php">Team</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/shop-1.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="shop-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="shop-1.php">Shop 1</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/shop-2.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="shop-2.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="shop-2.php">Shop 2</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/shop-3.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="shop-3.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="shop-3.php">Shop 3</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/shop-inner.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="shop-inner-1.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="shop-inner-1.php">Shop Inner</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/cart.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="cart.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="cart.php">Cart</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/cart-empty.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="cart-empty.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="cart-empty.php">Cart Empty</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/signup.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="signup.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="signup.php">SignUp</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/signin.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="signin.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="signin.php">SignIn</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single-demo-sidebar-item">-->
<!--            <div class="demo-sidebar-item-img">-->
<!--              <img src="assets/img/demos/forgot.jpg" alt="" />-->
<!--              <div class="demo-sidebar-buttons">-->
<!--                <a href="forgot.php">View Page</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="demo-item-content">-->
<!--              <a href="forgot.php">Forgot</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
  <!--=====Sidebar end=======-->