<!DOCTYPE html>
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="TaxBuddy Umair – Expert Tax Consulting for Individuals and Businesses in Pakistan"
          name="description">
    <meta content="TaxBuddy, FBR, Income Tax, Sales Tax, Pakistan, Property Tax" name="keywords">
    <meta content="Umair Mubeen" name="author">
    <title>TaxBuddy Umair | Salary | Income Tax Calculator</title>
    {% load static %}
    {% include 'partials/head-css.html' %}
    <style>
        h1,th,td{font-weight: normal;}


    </style>


<style>
/* Mobile-specific adjustments */
@media (max-width: 576px) {
    .input-single6 label {
        font-size: 14px;
    }
    .form-control {
        font-size: 14px;
        padding: 8px;
    }
    h1 {
        font-size: 20px !important;
        line-height: 26px !important;
    }
    table.table {
        font-size: 14px;
    }
    table.table th, table.table td {
    white-space: normal;       /* Allow wrapping */
    word-break: break-word;    /* Break long numbers/words if needed */
}

.container, .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


}
</style>

<body>

<!--=====Navigation Bar=======-->
{% include 'partials/topbar.html' %}
<!--=====Navigation Bar Ends Here=======-->


<!--=====Income Tax Calculator  =======-->
<div class="contct6 sp2" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact3-form-all" data-aos="zoom-out" data-aos-duration="900">
                    <div class="hadding6 text-center">
                        <h1 class="font-30 font-f-7 font-lg-40 weight-500 line-height-lg-48 line-height-38">
                            Salary - Income Tax Calculator
                        </h1>
                        <div class="space10"></div>
                    </div>

                    <form action="/Calculator" id="incomeForm" method="POST">
                        {% csrf_token %}
                        <div class="form-input-all">
                            <div class="form-input-box">
                                <div class="row g-3">
                                    <!-- Income Type -->
                                    <div class="col-12 col-md-3">
                                        <div class="input-single6">
                                            <label>Select Income Type</label>
                                            <select class="form-control" id="incomeTypeSelect" name="income_type" required>
                                                <option selected value="Monthly"> Monthly Income</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Taxpayer Type -->
                                    <div class="col-12 col-md-3">
                                        <div class="input-single6">
                                            <label>Select Taxpayer Type</label>
                                            <select class="form-control" id="taxpayerTypeSelect" name="taxpayer_type" required>
                                                <option selected value="salaried"> Salaried Person</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Monthly Income -->
                                    <div class="col-12 col-md-3">
                                        <div class="input-single6">
                                            <label>Monthly Income - Gross</label>
                                            <input class="form-control" id="incomeAmountInput" name="income_amount"
                                                   placeholder="Monthly Income" required type="number" />
                                        </div>
                                    </div>

                                    <!-- Submit Button -->
                                    <div class="col-12 col-md-3 d-flex align-items-end">
                                        <input class="btn btn-primary w-100" id="submit_button" name="submit" type="submit" value="Calculate"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="space20"></div>

        {% if monthly_income %}
        <div class="row g-4">
            <div class="col-12">
                <div class="contact3-form-all" data-aos="zoom-out" data-aos-duration="900">
                    <div class="hadding6 text-center">
                        <h1 class="font-30 font-f-7 font-lg-40 weight-500 line-height-lg-48 line-height-38">
                            Tax Calculation Comparison: {{tax_2024_2025_year}} VS {{tax_2025_2026_year}}
                        </h1>
                    </div>

                    <div class="row g-4 mt-3">
                        <!-- Left Table -->
                        <div class="col-12 col-lg-6">
                            <label>Tax Calculation for {{tax_2024_2025_year}}</label>
                            <div class="table-responsive">
                                <table class="table table-bordered align-middle mb-0">
                                    <tr><th>Monthly Income</th><td>Rs. {{ monthly_income|intcomma }}</td></tr>
                                    <tr><th>Yearly Income</th><td>Rs. {{ tax_2024_2025.income|intcomma }}</td></tr>
                                    <tr class="bg bg-info"><th>Applicable Tax Bracket</th><td>Rs. {{ tax_2024_2025.lower|intcomma }} to Rs. {{ tax_2024_2025.upper|intcomma }}</td></tr>
                                    <tr><th>Base Tax</th><td>Rs. {{ tax_2024_2025.fixed_tax|intcomma }}</td></tr>
                                    <tr><th>Amount Exceeding Bracket</th><td>Rs. {{ tax_2024_2025.amount_exceeding|intcomma }}</td></tr>
                                    <tr class="bg bg-info"><th>Rate Applied</th><td>{{ tax_2024_2025.rate|floatformat:"-0" }} %</td></tr>

                                    {% if tax_2024_2025.surcharge %}
                                        <tr><th>Tax on Amount Exceeding</th><td>Rs. {{ tax_2024_2025.tax_on_exceeding|intcomma }}</td></tr>
                                        <tr><th>Surcharge 10%</th><td>Rs. {{ tax_2024_2025.surcharge|intcomma }}</td></tr>
                                        <tr><th>Total Tax U/S 4AB</th><td>Rs. {{ tax_2024_2025.total_tax_with_surcharge|intcomma }}</td></tr>
                                    {% else %}
                                        <tr><th>Tax on Amount Exceeding</th><td>Rs. {{ tax_2024_2025.tax_on_exceeding|intcomma }}</td></tr>
                                        <tr><th>Total Tax Chargeable</th><td>Rs. {{ tax_2024_2025.total_tax|intcomma }}</td></tr>
                                    {% endif %}

                                    <tr class="bg bg-info"><th>Monthly Tax</th><td>Rs. {{ tax_2024_2025.per_month|intcomma }}</td></tr>
                                </table>
                            </div>
                        </div>

                        <!-- Right Table -->
                        <div class="col-12 col-lg-6">
                            <label>Tax Calculation for {{tax_2025_2026_year}}</label>
                            <div class="table-responsive">
                                <table class="table table-bordered align-middle mb-0">
                                    <tr><th>Monthly Income</th><td>Rs. {{ monthly_income|intcomma }}</td></tr>
                                    <tr><th>Yearly Income</th><td>Rs. {{ tax_2025_2026.income|intcomma }}</td></tr>
                                    <tr class="bg bg-info"><th>Applicable Tax Bracket</th><td>Rs. {{ tax_2025_2026.lower|intcomma }} to Rs. {{ tax_2025_2026.upper|intcomma }}</td></tr>
                                    <tr><th>Base Tax</th><td>Rs. {{ tax_2025_2026.fixed_tax|intcomma }}</td></tr>
                                    <tr><th>Amount Exceeding Bracket</th><td>Rs. {{ tax_2025_2026.amount_exceeding|intcomma }}</td></tr>
                                    <tr class="bg bg-info"><th>Rate Applied</th><td>{{ tax_2025_2026.rate|floatformat:"-0" }} %</td></tr>

                                    {% if tax_2025_2026.surcharge %}
                                        <tr><th>Tax on Amount Exceeding</th><td>Rs. {{ tax_2025_2026.tax_on_exceeding|intcomma }}</td></tr>
                                        <tr><th>Surcharge 9%</th><td>Rs. {{ tax_2025_2026.surcharge|intcomma }}</td></tr>
                                        <tr><th>Total Tax U/S 4AB</th><td>Rs. {{ tax_2025_2026.total_tax_with_surcharge|intcomma }}</td></tr>
                                    {% else %}
                                        <tr><th>Tax on Amount Exceeding</th><td>Rs. {{ tax_2025_2026.tax_on_exceeding|intcomma }}</td></tr>
                                        <tr><th>Total Tax Chargeable</th><td>Rs. {{ tax_2025_2026.total_tax|intcomma }}</td></tr>
                                    {% endif %}

                                    <tr class="bg bg-info"><th>Monthly Tax</th><td>Rs. {{ tax_2025_2026.per_month|intcomma }}</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!--=====Income Tax Calculator end=======-->


{% include 'partials/footer.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}


</body>
</html>

