<!DOCTYPE html>
{% load humanize %}
    {% load static %}

<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEP4P5YWE6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EEP4P5YWE6');
</script>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/icons/fab2.png' %}">
    <title>Salary Tax Calculator Pakistan | TaxBuddy Umair</title>
<meta name="description" content="Use our free Salary Tax Calculator for Pakistan to calculate your monthly and annual income tax as a salaried individual.">
<meta name="keywords" content="salary tax calculator Pakistan, income tax calculator salaried person, Pakistan salary tax, monthly salary tax Pakistan, FBR salary tax calculator">
<meta property="og:title" content="Salary Tax Calculator Pakistan | TaxBuddy Umair">
<meta property="og:description" content="Easily calculate your salary-based income tax in Pakistan for 2025 using our free Salary Tax Calculator.">
<meta property="og:url" content="https://www.taxbuddyumair.com/SalaryCalculator">
<meta property="og:image" content="https://taxbuddyumair.com/static/assets/img/icons/fab2.png" />
   {% include 'partials/head-css.html' %}
</head>

<body>

<!--=====Navigation Bar=======-->
{% include 'partials/topbar.html' %}
<!--=====Navigation Bar Ends Here=======-->
{% include 'partials/form_slab.html' %}

{% include 'partials/footer.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}
</body>
</html>
