<!DOCTYPE html>
{% load humanize %}
    {% load static %}

<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EEP4P5YWE6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EEP4P5YWE6');
</script>

<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/icons/fab2.png' %}">
<title>Salary Tax Calculator Pakistan | TaxBuddy Umair</title>
<meta name="description" content="Use our free Salary Tax Calculator for Pakistan to calculate your monthly and annual income tax as a salaried individual.">
<meta name="keywords" content="salary tax calculator Pakistan, income tax calculator salaried person, Pakistan salary tax, monthly salary tax Pakistan, FBR salary tax calculator">

<meta property="og:type" content="website">
<meta property="og:title" content="Salary Income Tax Calculator Pakistan | TaxBuddy Umair">
<meta property="og:description" content="Calculate your monthly and annual salary income tax for Pakistan instantly. Use our free FBR-based Salary Tax Calculator for tax year 2025–2026. Simple, fast, and accurate.">
<meta property="og:url" content="https://www.taxbuddyumair.com/SalaryCalculator">
<meta property="og:image" content="https://taxbuddyumair.com/static/assets/SalaryCalculator.png">

<!-- Helps WhatsApp + Facebook show the image correctly -->
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<!-- WhatsApp theme color -->
<meta name="theme-color" content="#0A9D8F">

   {% include 'partials/head-css.html' %}
</head>

<body>

<!--=====Navigation Bar=======-->
{% include 'partials/topbar.html' %}
<!--=====Navigation Bar Ends Here=======-->
{% include 'partials/form_slab.html' %}

{% include 'partials/footer.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}
</body>
</html>
