<!DOCTYPE html>
{% load humanize %}
<html lang="en">
<head>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/icons/icon-logo.ico' %}?v=1">

    <title>Tax News & FBR Updates | TaxBuddy Umair Blog</title>
    <meta name="description" content="Stay updated with the latest FBR notifications, income tax laws, sales tax updates, and expert tax tips in Pakistan.">
    <meta name="keywords" content="FBR SRO Pakistan, tax news Pakistan, income tax updates 2025, sales tax law Pakistan, how to file tax return, FBR notices explained">
    <meta property="og:title" content="Tax News & FBR Updates | TaxBuddy Umair Blog">
    <meta property="og:description" content="Latest tax news, FBR updates, and expert insights on income tax, sales tax, and property tax in Pakistan.">
    <meta property="og:url" content="https://www.taxbuddyumair.com/blog/income-tax/">
    <meta property="og:url" content="https://www.taxbuddyumair.com/blog/sales-tax/">


    <title>TaxBuddy Umair | Blogs | Income Tax | Sales Tax</title>
    {% load static %}
    {% include 'partials/head-css.html' %}
<body>
<!--=====Navigation Bar=======-->
{% include 'partials/topbar.html' %}
<!--=====Navigation Bar Ends Here=======-->

<!--=====Blog start=======-->
<div class="blog-area inner-blog-1 section-padding inner-font-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="lg-mr-15">
                    <div class="row">
                        {% for blog in blogs %}
                        <div class="col-lg-6">
                            <div class="single-blog blog-md">
                                <div class="blog-img">
                                    <a href="/{{blog.slug}}/"><img class="lazyload" alt="{{blog.title}}" src="{{blog.image.url}}" /></a>
                                </div>
                                <ul class="blog-tags">
                                    <li><a href="#">{% if blog.type == '1'%} Income Tax {% else %}Sales Tax{%endif%}</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="/{{blog.slug}}/">{{blog.title}}</a>
                                </h3>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>

             </div>
    </div>
</div>
<!--=====Blog end=======-->


{% include 'partials/footer.html' %}
{% include 'partials/up.html' %}
{% include 'partials/footer-scripts.html' %}


</body>
</html>